
  h1 {
        font-size: 20px;
        font-family: sans-serif;
        font-style: italic;
        background-color: #555;
        color: white;
        padding: 4px;
        margin-right: 0%;
  }
  h2 {
      font-family: sans-serif;
      border-bottom: 1px solid #CCC;
      color: #800000;
      font-size: 16px;
  }
  pre {
      font-family: monospace;
      color: #222;
      background-color: #DDD;
      /*border: 1px solid #BBB; */
      padding: 4px;
      padding-left: 8px;
      margin-right: 10px; 
      margin-left: 25px;
      font-size: 9pt;
     
  }
  #logo {
      float: left;
       padding: 5px;
       padding-top: 0px;
       margin-top: -5px;
      padding-left: 10px;
      width: 160px;
  }

  #all { background-color: #CCCCCC; }

  #header {
      margin-left: 200px;
    /* border-bottom: 1px solid black; */
      padding-top: 50px;
    /* padding: 1ex; */
    background-color: white; /* #888888 */
  }
  #header h1 {
      background-color: white;
      color: #800000;
      text-decoration: none;
      margin: 0ex;
      font-size: 200%;
      font-style: normal;
      font-weight: bold;
  }


, #headerbar { border-bottom: 1px solid black; }
  #footer { border-top: 1px solid black; }

  #body {
    font-size: 90%;
    margin-left: 200px;
    margin-right: 20px;
    padding: 10px;
  }

  a {text-decoration:none; }
  a:link {color:#6E3ABC;   }
  a:visited {color: #3E1A9C;}
  a:hover {color: #00AA00; background-color: #EEEEEE;}
  a:focus {color: #333333;}
  a:active {color: #009900;}


  #menu {
	float: left;
	width: 180px;
    padding: 18px 0px 0px 2px;
    font-size: 70%;
    border: 1px;
  }

  .bar {
	clear: both;
	padding: 3px;
	text-align: center;
	font-size: 90%;
    background-color: #AAAAAA;
  }

  .left, .right {
    padding: 0px 1em;
  }

  .left {
	float: left;
	text-align: left;
  }

  .right {
	float: right;
	text-align: right;
  }

  /* styling the menu */

  #menu a {
	text-decoration: none;
	font-weight: bold;
	font-size: 130%;
    font-family: sans-serif;
  }

  #menu a:hover {
	/* text-decoration: underline; */
  }

  #menu .webgen-menuitem-selected {
	border-left: 3px solid black;
  }

  #menu ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 10px;
  }

  #menu li > ul {
	font-size: 95%;
  }

  #menu li {
    margin: 0.0em 0px;
    padding: 2px 0px;
    padding-left: 5px;
    /* border-left: 3px solid #CCCCCC; */
  }
